@page "/"

<PageTitle>Disability Union - Home</PageTitle>
<section class="billboard">
    <div class="billboard-content">
        <div class="billboard-text">
            <h2>
                <strong>Bringing Disabled People together to build a better future.</strong>
            </h2>
            <p>That’s why more people are joining every day, will you be next?</p>
            <button>Join now</button>
            <button class="google-button">Join with Google</button>
        </div>
        <video class="intro-video" controls="controls">
            <source src="Videos/DU_Home_Video.mp4" type="video/mp4" />
        </video>
    </div>
</section>

<section class="content-section neutral-background">
    <div class="content">
        <div class="video-with-manifesto">
            
            <div class="manifesto-form">
                <img src="Images/DU_Manifesto.webp" alt="No pity. No barriers. No one left behind. The Disability Union Manifesto"/>
                <EditForm Model="@Model" OnSubmit="@Submit">
                    <div class="video-form">
                        <InputText DisplayName="Name" placeholder="Name" @bind-Value="@Model!.Name" />
                        <InputText DisplayName="Email" placeholder="Email" @bind-Value="@Model!.Email" />

                        <button type="submit">Get the manifesto</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>

<section class="content-section">
    <div class="content">
        <h2 class="section-title">To achieve Disability equity, our mission is to provide...</h2>
    </div>
    <div class="whitespace"></div>
    <div class="content-full-width">
        <div class="side-background-left">
        <div class="content-left">
            <img src="Videos/DU_Community_Video.gif" alt="Video of Disability Union community events." class="side-video to-left" />
            <div class="side-content">
                <h3 class="item-title">A community that cares and understands</h3>
                <p class="item-description">By bringing Disabled People together in our  online community and campaigns we help each other, make friends and make change together.</p>
                <a>Find out more about our Community Projects</a>
            </div>
        </div>
            </div>
        <div class="side-background-right">
            <div class="content-right">
                <video autoplay loop muted class="side-video to-right">
                    <source src="Videos/DU_Unity_Video.mp4" type="video/mp4" style="overflow: clip;" />
                </video>
                <div class="side-content">
                    <h3 class="item-title">Opportunities for new skills and experiences</h3>
                    <p class="item-description">We provide opportunities around employment, politics, sports and every other aspect of life through our events, online skills academy and casework.</p>
                    <a>Find out more about our Skills Academy</a>
                </div>

            </div>
        </div>
        <div class="side-background-left">
            <div class="content-left">
                <video autoplay loop muted class="side-video to-left">
                    <source src="Videos/DU_Unity_Video.mp4" type="video/mp4" />
                </video>
                <div class="side-content">
                    <h3 class="item-title">Unity in the struggle for inclusion</h3>
                    <p class="item-description">
                        People with power only listen to two things: money and people. You need a lot of one or the other to get them to listen.

                        We’re building the people power to knock discrimination dead.
                    </p>
                    <a>Find out more about our campaigns</a>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div class="content" style="margin-top: 50px;">
        <h2 class="section-title center-text">
            MEMBER OF
        </h2>
        <div class="affiliate-row">
            <a class="affiliate-image" href="https://www.disabilityrightsuk.org/" target="_blank">
                <img src="Images/DRUK_Logo.webp" alt="Disability Rights UK Logo" />
            </a>
        </div>
        <h2 class="section-title center-text">
            AS SEEN ON
        </h2>
        
        <div class="affiliate-row">
            <a class="affiliate-image" href="https://www.facebook.com/DisabilityUnion/videos/george-baker-discusses-school-transport-cuts-with-bbc-south-today/4923991341033238/" target="_blank">
                <img src="Images/BBC_Logo.webp" alt="BBC Logo" />
            </a>
            <a class="affiliate-image" href="https://www.youtube.com/watch?v=LgRYK_69h78" target="_blank">
                <img src="Images/ITV_Logo.webp" alt="ITV Logo" />
            </a>
            <a class="affiliate-image" href="https://www.disabilitynewsservice.com/disability-union-will-build-power-and-a-national-voice-for-disabled-people/" target="_blank">
                <img src="Images/Disability_News_Service_Logo.webp" alt="Disability News Service Logo" />
            </a>
        </div>
    </div>
</section>

<section class="content-section neutral-background">
    <div class="content">
        <h2 class="section-title center-text">
            Four Reasons to Join Today
        </h2>
        <div class="center-text">
            <div class="numbered-rule">
                <hr />
                <h4>1</h4>
                <hr />
            </div>
            <h3>1:1 Support When You Need it Most</h3>
            <p>
                Do you feel rejected, discriminated against, or left behind in a world that isn’t set up for Disabled People?
                We’ll help you get the answers you deserve.
            </p>
            <div class="numbered-rule">
                <hr />
                <h4>2</h4>
                <hr />
            </div>
            <h3>Help us Build a Better Future</h3>
            <p>
                Campaigns and political activism are at the heart of what we do. Join our mission as we agitate, educate and organise to knock discrimination dead.
            </p>
            <div class="numbered-rule">
                <hr />
                <h4>3</h4>
                <hr />
            </div>
            <h3>Gain Purpose and Power</h3>
            <p>
                Are you feeling stuck or without a purpose in a world that doesn’t understand you? We’ll help you find your purpose and achieve your goals.
            </p>
            <div class="numbered-rule">
                <hr />
                <h4>4</h4>
                <hr />
            </div>
            <h3>The Next Generation</h3>
            <p>
                Want to stand up for your Disabled Child OR need some support from people who understand? Come join the gang, we’ve got your back.
            </p>
        </div></div>
</section>    

<section class="content-section brand-background">
    <div class="content">
        <img class="join-us-image" src="Images/DU_Logo_Inverted.svg" />
        <h2 class="section-title section-title-inverted center-text">
            JOIN US IN THE FIGHT FOR INCLUSION
        </h2>
        <div class="button-row">
            <button class="join-button">Join now</button>
            <button class="join-button">Join with Google</button>
        </div>
    </div>
</section>

<section class="content-section" style="background-color:rgb(50, 50, 50)">
    <div class="content">
        <div class="contact-row">
            <h5 class="contact-info">Call: 02382 546 695</h5>
            <h5 class="contact-info">Email: support@disabilityunion.co.uk</h5>
        </div>
    </div>
</section>

<section class="content-section footer-row">
    <div>
        TEST
    </div>
</section>
@code {
    private string ButtonOneClass { get; set; } = "inverted-join-button";

    private void MouseOverButton()
    {
        ButtonOneClass = "join-button";
    }

    private void SubmitManifestoForm()
    {

    }

    public NameEmail? Model { get; set; }

    [Parameter]
    public Action SubmitAction { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit()
    {
        SubmitAction?.Invoke();
    }

    public class NameEmail
    {
        public string? Name { get; set; } = "";
        public string? Email { get; set; } = "";
    }
}