body {
}

.billboard {
    background-color: rgba(0, 26, 112, 1);
    padding: 30px 0 40px 0;
}

.billboard-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; 
    font-weight: bold;
    padding: 0 4vw;
}
.billboard-content h2 {
    font-size: 2rem;
    max-width: 38.025rem;
    margin: 0;
    width: 100%;
}

    .billboard-content p {
        font-size: 1rem;
        font-weight: normal;
        max-width: 38.025rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    .billboard-content button {
        width: 100%;
        margin: 0;
        font-size: calc(.875rem + (0 * (100vw - 400px)/ 624));
        background-color: white;
        color: rgb(0, 26, 112);
        border: 0;
        fill: rgb(0, 26, 112);
        box-shadow: inset 0 0 0 1px rgb(0, 26, 112);
        cursor: pointer;
        border-radius: 4px;
        font-weight: 700;
        line-height: 1.2857;
        text-transform: uppercase;
        padding: 19px 40px 20px;
        display: block;
        transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
    }

        .billboard-content button:hover {
            box-shadow: inset 0 0 0 2px rgb(0, 26, 112);
        }

        .billboard-content button:active {
            background-color: rgb(0, 26, 112);
            color: #fff;
            fill: #fff;
            box-shadow: inset 0 0 0 2px rgb(0, 26, 112);
        }

.content-section {
    padding: 40px 0 40px 0;
}

.content {
    padding: 0 4vw;
}

.section-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
}

.neutral-background {
    background-color: #f4ede4;
}

.video-with-manifesto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
}

.intro-video {
    width: 90%;
    min-width: 18rem;
    max-width: 45rem;
    height: auto;
    border-radius: 4px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
    grid-auto-rows: minmax(min-content, max-content);
}

.row-c1 {
    background-color: rgba(0, 26, 112, 1);
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
}

.row-c2 {
    background-color: rgba(255, 255, 255, 1);
    grid-column: 1 / span 8;
    grid-row: 2 / span 1;
}

.row-c3 {
    background-color: rgba(228, 0, 43,1);
    grid-column: 1 / span 8;
    grid-row: 4 / span 2;
}


.row-c3 h2 {
    color: white;
    font-weight: bold;
}

.row-c3 h3 {
    color: white;
    font-weight: bold;
}

.row-c3 p {
    color: white;
}

.row-c4 {
    background-color: rgba(255, 255, 255, 0.5);
    grid-column: 1 / span 8;
    grid-row: 6 / span 2;
}

.row-c5 {
    background-color: rgba(0, 26, 112, 0.9);
    grid-column: 1 / span 8;
    grid-row: 8 / span 1;
}

.row-c6 {
    grid-column: 1 /span 8;
    grid-row: 10 / span 1;
}

.inverted-title {
    color: white;
}

.inverted-join-button {
    background-color: rgba(228, 0, 43, 1);
    color: white;
    border-width: 0;
    border-radius: 10px;
    height: 40px;
    width: 125px;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
    transition: background-color 0.5s;
}

.inverted-join-button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.top-box {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 8;    
    grid-row: 1 / span 1;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 0, 40vw, 0, 40vw;
}

.top-box h2 {
    text-align: center;
    color: white;
    font-size: 5vw;
    max-width: 38rem;
}

.top-box .inverted-join-button {
    margin-bottom: 10px;
}

.join-button {
    background-color: rgba(0, 26, 112, 1);
    color: white;
    border-width: 0;
    border-radius: 10px;
    height: 50px;
    justify-self: center;
    align-self: center;
    transition: background-color 0.5s;
}

.join-button:hover {
    background-color: rgba(0, 0, 150, 1);
}

.manifesto-row {
    grid-column: 1 / span 8;
    grid-row: 2 / span 2;
    background-color: #f4ede4;
    padding: 0 0 0 0;
}

.mission-row {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: center;
    color: black;
}

.row-title {
    grid-column: 2 /span 6;
    grid-row: 2 / span 1;
    text-align: center;
    margin: 30px auto 10px auto;
}

.row-title h2 {
    font-weight: bold;
}

.row-title hr {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.manifesto-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 6;
    grid-row: 3 / span 1;
    justify-content: center;
    align-content: center;
    text-align: center;
}

    .manifesto-container video {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .manifesto-container h3 {
        
    }

.associations-row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

}

.associations-image {
    width: 20%;
    height: auto;
    margin: auto;
}

.seen-on-row {
    display: flex;
    flex-direction: row;
}

.row-logo {
    width: 20%;
    height: auto;
}

.text-with-image {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

    .text-with-image p {
        font-size: 1rem;
        text-align: justify;
        height: auto;
        vertical-align: middle;
        max-width: 55%;
        padding: 0;
        margin: 0;
    }

    .text-with-image .image-right {
        border-radius: 90px;
        width: 7rem;
        height: 7rem;
        align-self: center;
        margin: 0 0 0 18px;
    }

.text-with-image .image-left {
    border-radius: 90px;
    width: 7rem;
    height: 7rem;
    align-self: center;
    margin: 0 18px 0 0;
}

.rule-small-width {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 20rem) {
    .billboard-content h2 {
        font-size: calc(2rem + (20 * (100vw - 400px)/ 624));
    }

    .section-title {
        font-size: calc(1.5rem + (10 * (100vw - 400px) / 624));
    }

    .billboard-content button {
        font-size: calc(.875rem + (5 * (100vw - 400px)/ 624));
    }

}

@media(min-width: 64rem) {
    .billboard-content {
        text-align: left;
    }

    .billboard-content h2 {
        font-size: 3.25rem;
    }

    .billboard-content button {
        font-size: 1.25rem;
    }

    .section-title {
        font-size: 2.25rem;
    }

    .video-with-manifesto {
        justify-content: center;
    }

    .top-box {
        display: flex;
        flex-direction: column;
        grid-column: 2 / span 3;
        grid-row: 1 / span 1;
        margin: 20px auto 20px auto;
        justify-content: center;
        align-content: center;
        color: white;
    }

    .mission-row {
        max-width: 70%;
    }

    .top-box .rule-small-width {
        width: 100%;
    }

    .top-box h2 {
        text-align: left;
        color: white;
    }

    .manifesto-row {
        grid-column: 1 / span 8;
        grid-row: 2 / span 2;
        background-color: rgba(0, 26, 112, 0.25);
        padding: 0 0 20px 0;
    }

    .manifesto-container {
        display: flex;
        flex-direction: row;
        grid-column: 1 /span 8;
        grid-row: 3 / span 1;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: left;
        margin-top: 20px;
    }

        .manifesto-container video {
            max-width: 45%;
            height: auto;
            margin: 10px;
        }


        .manifesto-container h3 {
            padding: 20px;
        }

        .manifesto-container hr {
            display: none;
        }
}