@page "/"

<PageTitle>Disability Union - Home</PageTitle>
<section class="billboard">

    <div class="billboard-content">
        <h2>
            <strong>Bringing Disabled People together to build a better future.</strong>
        </h2>
        <p>That’s why more people are joining every day, will you be next?</p>
        <button>Join now</button>
    </div>
</section>
<section class="content-section neutral-background">
    <div class="content">
        <h2 class="section-title">What We're All About...</h2>
        <div class="video-with-manifesto">
            <video class="intro-video" controls="controls">s
                <source src="Videos/DU_Home_Video.mp4" type="video/mp4" />
            </video>
            <div class="manifesto-form">
                <img src="Images/DU_Manifesto.webp" alt="No pity. No barriers. No one left behind. The Disability Union Manifesto"/>
                <EditForm Model="@Model" OnSubmit="@Submit">
                    <div class="video-form">
                        <InputText DisplayName="Name" placeholder="Name" @bind-Value="@Model!.Name" />
                        <InputText DisplayName="Email" placeholder="Email" @bind-Value="@Model!.Email" />

                        <button type="submit">Get the manifesto</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>

<section class="content-section">
    <div class="content">
        <h2 class="section-title">To achieve Disability equity, our mission is to provide...</h2>
    </div>
    
    <div class="content-full-width">
        <div class="side-background-left">
        <div class="content-left">
            <img src="Videos/DU_Community_Video.gif" alt="Video of Disability Union community events." class="side-video to-left" />
            <div class="side-content">
                <h3 class="item-title">A community that cares and understands</h3>
                <p class="item-description">By bringing Disabled People together in our  online community and campaigns we help each other, make friends and make change together.</p>
            </div>
        </div>
            </div>
        <div class="side-background-right">
            <div class="content-right">
                <video autoplay loop muted class="side-video to-right">
                    <source src="Videos/DU_Unity_Video.mp4" type="video/mp4" style="overflow: clip;" />
                </video>
                <div class="side-content">
                    <h3 class="item-title">Opportunities for new skills and experiences</h3>
                    <p class="item-description">We provide opportunities around employment, politics, sports and every other aspect of life through our events, online skills academy and casework.</p>
                </div>

            </div>
        </div>
        <div class="side-background-left">
            <div class="content-left">
                <video autoplay loop muted class="side-video to-left">
                    <source src="Videos/DU_Unity_Video.mp4" type="video/mp4" />
                </video>
                <div class="side-content">
                    <h3 class="item-title">Unity in the struggle for inclusion</h3>
                    <p class="item-description">
                        People with power only listen to two things: money and people. You need a lot of one or the other to get them to listen.

                        We’re building the people power to knock discrimination dead.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
    
    


@code {
    private string ButtonOneClass { get; set; } = "inverted-join-button";

    private void MouseOverButton()
    {
        ButtonOneClass = "join-button";
    }

    private void SubmitManifestoForm()
    {

    }

    public NameEmail? Model { get; set; }

    [Parameter]
    public Action SubmitAction { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit()
    {
        SubmitAction?.Invoke();
    }

    public class NameEmail
    {
        public string? Name { get; set; } = "";
        public string? Email { get; set; } = "";
    }
}