@page "/"

<PageTitle>Disability Union - Home</PageTitle>
<section class="billboard">

    <div class="billboard-content">
        <h2>
            <strong>Bringing Disabled People together to build a better future.</strong>
        </h2>
        <p>That’s why more people are joining every day, will you be next?</p>
        <button>Join now</button>
    </div>
</section>
<section class="content-section neutral-background">
    <div class="content">
        <h2 class="section-title">What We're All About...</h2>
        <div class="video-with-manifesto">
            <video class="intro-video" controls="controls">s
                <source src="Videos/DU_Home_Video.mp4" type="video/mp4" />
            </video>
            <div class="manifesto-form">
                <img src="Images/DU_Manifesto.webp" alt="No pity. No barriers. No one left behind. The Disability Union Manifesto"/>
                <EditForm Model="@Model" OnSubmit="@Submit">
                    <div class="video-form">
                        <InputText DisplayName="Name" placeholder="Name" @bind-Value="@Model!.Name" />
                        <InputText DisplayName="Email" placeholder="Email" @bind-Value="@Model!.Email" />

                        <button type="submit">Get the manifesto</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>
    
    
    <div class="row-c5">
        <div class="row-title inverted-title">
            <img class="row-logo" src="Images/DU_Logo_Inverted.svg" />
            <h2>JOIN US IN THE FIGHT FOR INCLUSION</h2>
            <button class="inverted-join-button">Join now</button>
        </div>
    </div>
    <div class="row-c6">
        <div class="associations-row">
            <div class="row-title">
                <h2>Member of</h2>
            </div>
            <img class="associations-image" src="Images/DRUK_Logo.webp" />
            <div class="row-title">
                <h2>As seen on</h2>
            </div>
            <div class="seen-on-row">
                <img class="associations-image" src="Images/BBC_Logo.webp" />
                <img class="associations-image" src="Images/ITV_Logo.webp" />
                <img class="associations-image" src="Images/Disability_News_Service_Logo.webp" />
            </div>
        </div>
    </div>


@code {
    private string ButtonOneClass { get; set; } = "inverted-join-button";

    private void MouseOverButton()
    {
        ButtonOneClass = "join-button";
    }

    private void SubmitManifestoForm()
    {

    }

    public NameEmail? Model { get; set; }

    [Parameter]
    public Action SubmitAction { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit()
    {
        SubmitAction?.Invoke();
    }

    public class NameEmail
    {
        public string? Name { get; set; } = "";
        public string? Email { get; set; } = "";
    }
}