body {
}


.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
    grid-auto-rows: minmax(min-content, max-content);
}

.row-c1 {
    background-color: rgba(0, 26, 112, 0.9);
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
}

.row-c2 {
    background-color: rgba(255, 255, 255, 1);
    grid-column: 1 / span 8;
    grid-row: 2 / span 1;
}

.row-c3 {
    background-color: rgba(228, 0, 43,1);
    grid-column: 1 / span 8;
    grid-row: 4 / span 2;
}


.row-c3 h2 {
    color: white;
    font-weight: bold;
}

.row-c3 h3 {
    color: white;
    font-weight: bold;
}

.row-c3 p {
    color: white;
}

.row-c4 {
    background-color: rgba(255, 255, 255, 0.5);
    grid-column: 1 / span 8;
    grid-row: 6 / span 2;
}

.row-c5 {
    background-color: rgba(0, 26, 112, 1);
    grid-column: 1 / span 8;
    grid-row: 8 / span 1;
}

.inverted-title {
    color: white;
}

.inverted-join-button {
    background-color: rgba(228, 0, 43, 1);
    color: white;
    border-width: 0;
    border-radius: 10px;
    height: 40px;
    width: 125px;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
}

.top-box {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 6;    
    grid-row: 1 / span 1;
    margin: 30px auto 30px auto;
    justify-content: center;
    align-content: center;
}

.top-box h2 {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    
}

.join-button {
    background-color: rgba(0, 26, 112, 1);
    color: white;
    border-width: 0;
    border-radius: 10px;
    height: 50px;
    justify-self: center;
    align-self: center;
}

.manifesto-row {
    grid-column: 1 / span 8;
    grid-row: 2 / span 2;
}

.mission-row {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.row-title {
    grid-column: 2 /span 6;
    grid-row: 2 / span 1;
    text-align: center;
    margin: 30px auto 10px auto;
}

.row-title h2 {
    font-weight: bold;
}

.manifesto-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 6;
    grid-row: 3 / span 1;
    justify-content: center;
    align-content: center;
    text-align: center;
}

    .manifesto-container video {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .manifesto-container h3 {
        
    }

.manifesto-form {
}

.row-logo {
    width: 20%;
    height: auto;
}


@media (min-width: 641px) {
    .top-box h2 {
        text-align: center;
        font-size: 1.5rem;
    }
}

@media (min-width: 1025px) {
    .manifesto-container {
        display: flex;
        flex-direction: row;
        grid-column: 1 /span 8;
        grid-row: 3 / span 1;
        justify-content: center;
        align-content: center;
        margin: 30px 30px 30px 30px;
        text-align: left;
    }

        .manifesto-container video {
            width: 50%;
            height: auto;
            margin: 0;
        }

        .manifesto-container h3 {
            padding: 20px;
        }
}
