@page "/"

<PageTitle>Disability Union - Home</PageTitle>

<div class="grid-container">
    <div class="row-color-one">
    </div>
    <div class="top-box">
        <h2>
            We’re bringing Disabled People together to build a brighter future with:
            <br />
            <br />
            <strong>No Pity.</strong>
            <br />
            <strong>No Barriers.</strong>
            <br />
            <strong>No One Left Behind.</strong>
            <br />
            <br />
            That’s why more people are joining every day, will you be next?
        </h2>
        <button>Join now</button>zzzz

    </div>
    <div class="manifesto-row">
    </div>
    <div class="row-title">
        <h2>What is The Disability Union?</h2>
    </div>
    <div class="manifesto-container">
        <video controls="controls">
            <source src="Videos/DU_Home_Video.mp4" type="video/mp4" />
        </video>
        <hr />

        <NameEmailForm></NameEmailForm>
    </div>
    <iframe class="airtable-embed" src="https://airtable.com/embed/appovMDEFB1YwDKvb/shrMDPsfzcVPUmbx8?backgroundColor=yellowDusty&layout=card&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>
