@page "/"

<PageTitle>Disability Union - Home</PageTitle>

<div class="grid-container">
    <div class="row-c1">
    </div>
    <div class="top-box">
        <hr class="rule-small-width" />
        <h2>
            We’re bringing Disabled People together to build a brighter future with:
            <br />
            <br />
            <strong>No Pity.</strong>
            <br />
            <strong>No Barriers.</strong>
            <br />
            <strong>No One Left Behind.</strong>
            <br />
            <br />
            That’s why more people are joining every day, will you be next?
        </h2>
        <button class="inverted-join-button">Join now</button>
        <hr class="rule-small-width"/>
    </div>
    <div class="manifesto-row">
    </div>
    <div class="row-title">
        <h2>What is The Disability Union?</h2>
    </div>
    <div class="manifesto-container">
        <video controls="controls">
            <source src="Videos/DU_Home_Video.mp4" type="video/mp4" />
        </video>
        <hr />
    <NameEmailForm></NameEmailForm>
        <hr />
    </div>
    <div class="row-c3">
        <div class="row-title">
            <h2>Our Mission</h2>
        </div>
        <div class="mission-row">
            <hr />
                <h3>Community</h3>
            <div class="text-with-image">
                <p>
                    By bringing Disabled People together in our  online community and campaigns we help each other, make friends and make change together.
                </p>
                <img class="image-right" src="Images/DU_Community.jpg" />
            </div>
            <hr />
                <h3>Opportunity</h3>
            <div class="text-with-image">
                <img class="image-left" src="Images/DU_Opportunity.jpg" />
                <p>
                    We provide opportunities around employment, politics, sports and every other aspect of life through our events, online skills academy and casework.
                </p>
            </div>
            <hr />
            <h3>Unity</h3>
            <div class="text-with-image">
                <p>
                    People with power only listen to two things: money and people. You need a lot of one or the other to get them to listen.

                    We’re building the people power to knock discrimination dead.
                </p>
                <img class="image-right" src="Images/DU_Unity.jpg" />
            </div>
            <hr />
        </div>
    </div>
    <div class="row-c4">
        <div class="row-title">
            <h2>Four Reasons to Join Today</h2>
        </div>
        <div class="mission-row">
            <hr />
            <h3>1:1 Support When You Need it Most</h3>
            <p>We'll help you get the answers you deserve</p>
            <hr />
            <h3>Help us Build a Better Future</h3>
            <p>Join our mission as we agitate, educate and organise to knock discrimination dead.</p>
            <hr />
            <h3>Gain Purpose and Power</h3>
            <p>We’ll help you find your purpose and achieve your goals.</p>
            <hr />
            <h3>The Next Generation</h3>
            <p>Want to stand up for your Disabled Child OR need some support from people who understand? Come join the gang, we’ve got your back.</p>
            <hr />
        </div>
    </div>
    <div class="row-c5">
        <div class="row-title inverted-title">
            <img class="row-logo" src="Images/DU_Logo_Inverted.svg" />
            <h2>JOIN US IN THE FIGHT FOR INCLUSION</h2>
            <button class="inverted-join-button">Join now</button>
        </div>
    </div>
    <div class="row-c6">
        <div class="associations-row">
            <div class="row-title">
                <h2>Member of</h2>
            </div>
            <img class="associations-image" src="Images/DRUK_Logo.webp" />
            <div class="row-title">
                <h2>As seen on</h2>
            </div>
            <div class="seen-on-row">
                <img class="associations-image" src="Images/BBC_Logo.webp" />
                <img class="associations-image" src="Images/ITV_Logo.webp" />
                <img class="associations-image" src="Images/Disability_News_Service_Logo.webp" />
            </div>
        </div>
    </div>
</div>
