@page "/membership-benefits"

<PageTitle>Disability Union - Membership Benefits</PageTitle>

<section class="billboard">
    <div class="billboard-content">
        <h2><strong>Four Reasons to Join Today</strong></h2>
    </div>
</section>

<section class="content-section neutral-background">
    <div class="content">
        <div class="center-text">
            <div class="numbered-rule">
                <hr />
                <h4>1</h4>
                <hr />
            </div>
            <h3>1:1 Support When You Need it Most</h3>
            <p>
                Do you feel rejected, discriminated against, or left behind in a world that isn’t set up for Disabled People?
                We’ll help you get the answers you deserve.
            </p>
            <div class="numbered-rule">
                <hr />
                <h4>2</h4>
                <hr />
            </div>
            <h3>Help us Build a Better Future</h3>
            <p>
                Campaigns and political activism are at the heart of what we do. Join our mission as we agitate, educate and organise to knock discrimination dead.
            </p>
            <div class="numbered-rule">
                <hr />
                <h4>3</h4>
                <hr />
            </div>
            <h3>Gain Purpose and Power</h3>
            <p>
                Are you feeling stuck or without a purpose in a world that doesn’t understand you? We’ll help you find your purpose and achieve your goals.
            </p>
            <div class="numbered-rule">
                <hr />
                <h4>4</h4>
                <hr />
            </div>
            <h3>The Next Generation</h3>
            <p>
                Want to stand up for your Disabled Child OR need some support from people who understand? Come join the gang, we’ve got your back.
            </p>
        </div>
    </div>
</section>

<section class="content-section" style="background-color:rgb(50, 50, 50)">
    <div class="content">
        <div class="contact-row">
            <h5 class="contact-info">Call: 02382 546 695</h5>
            <h5 class="contact-info">Email: support@disabilityunion.co.uk</h5>
        </div>
    </div>
</section>

<section class="content-section footer-row">
    <div>
        TEST
    </div>
</section>

@code {

}
