@page "/news"

<PageTitle>Disability Union - News</PageTitle>

<section class="content-section neutral-background">
    <div class="content">
        <h3>What we've been up to</h3>
    </div>
</section>

<section class="content-section blank-background">
    <div class="content">
        <h3>Blog posts</h3>
    </div>
</section>

<section class="content-section" style="background-color:rgb(50, 50, 50)">
    <div class="content">
        <div class="contact-row">
            <h5 class="contact-info">Call: 02382 546 695</h5>
            <h5 class="contact-info">Email: support@disabilityunion.co.uk</h5>
        </div>
    </div>
</section>

<section class="content-section footer-row">
    <div>
        TEST
    </div>
</section>

@code {

}
