<EditForm Model="@Model" OnSubmit="@Submit">
    <div class="name-email-form">
        <h3><strong>Download our manifesto now:</strong></h3>
        <InputText DisplayName="Name" placeholder="Name" @bind-Value="@Model!.Name" />
        <InputText DisplayName="Email" placeholder="Email" @bind-Value="@Model!.Email" />
        <button type="submit">Get the manifesto</button>
    </div>
</EditForm>


@code {
    public NameEmail? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit()
    {
    }

    public class NameEmail
    {
        public string? Name { get; set; } = "";
        public string? Email { get; set; } = "";
    }

}
