body {
}

.name-email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

::deep h4 {
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

::deep img {
    width: 15rem;
    height: auto;
    margin-bottom: 10px;
}

::deep input {
    margin: 5px 0px 5px 0px;
    height: 1.9rem;
    padding-right: 5rem;
    border-width: 0;
    border-radius: 5px;
}

::deep button {
    width: 10rem;
    height: 2.5rem;
    border-width: 0;
    background-color: rgba(0, 26, 122, 1);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
    transition: background-color 0.5s, height 0.5s, width 0.5s, font-size 0.5s;
}
    ::deep button:hover {
        background-color: rgba(0, 0, 200, 1);
        height: 3rem;
        width: 12rem;
        font-size: 1.2rem;
    }

@media (min-width: 641px) {
    .name-email-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 1025px) {
    .name-email-form {
        justify-content: start;
        align-content: start;
        align-items: start;
        margin-left: 20px;
    }

    ::deep h4 {
        font-weight: bold;
        text-align: left;
        width: 100%;
        margin-bottom: 15px;
    }
}