.navbar-toggler {
    background-color: rgba(255,255,255, 0.2);
}

.top-row {
    height: 15vh;
    background-color: #001A70;
    vertical-align: central;
}

    .top-row ::deep text {
        text-align: center;
        font-size: 1.1rem;
        color: rgba(255,255,255, 1);
        width: 45%;
        font-weight: bold;
    }


.navbar-brand text {
    font-size: 0.1rem;
    color: white;
    vertical-align: central;
    width: 20px;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-button {
    padding-right: 20px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: rgba(255,255,255, 1);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255, 0.5);
            color: rgb(255, 255, 255);
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255, 0.1);
            color: rgb(255, 255, 255);
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 6rem);
        overflow-y: auto;
        background-color: #001A70;
    }

    .top-row {
        height: 6rem;
        background-color: #001A70;
        vertical-align: central;
    }

        .top-row text {
            text-align: left;
            font-size: 1rem;
            color: rgba(255,255,255, 1);
            width: 55%;
        }
}

.nav-scrollable {
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 6rem);
    overflow-y: auto;
    background-color: #001A70;
}

.nav-line {
    width: 75%;
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    border-style: inset;
}

.nav-line-bottom {
    margin-top: -0.75rem;
}

@media (min-width: 641px) {
    .top-row text {
        text-align: left;
        font-size: 1rem;
        color: rgba(255,255,255, 1);
        width: 55%;
    }
}

@media (max-width: 332px) {
    .top-row text {
        text-align: center;
        font-size: 1rem;
        color: rgba(255,255,255, 1);
        width: 38%;
    }
}
