.navbar-toggler {
    background-color: rgba(255,255,255, 0.2);
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
}

.navbar {
    padding: 0!important;
    height: 6rem!important;
}

.top-row {
    height: 12vh!important;
    width: 100%;
    background-color: #001A70;
}

.top-row h3 {
    color: white;
    justify-self: center;
    text-align: center;
    font-size: 1rem;
    margin: 0;
}


.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    width: 100%;
    height: 10vh;
    margin: 0;
}

.navbar-brand {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    padding: 0;
    justify-self: center;
}

div .container-fluid ::deep img {
    width: 4rem;
    height: 100%;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-button {
    padding-right: 20px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: rgba(255,255,255, 1);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255, 0.5);
            color: rgb(255, 255, 255);
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255, 0.1);
            color: rgb(255, 255, 255);
        }

@media(max-width: 20rem) {
    .top-row h3 {
        display: none;
    }
}

@media (min-width: 40rem) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 6rem);
        overflow-y: auto;
        background-color: #001A70;
    }

    .top-row {
        height: 6rem;
        background-color: #001A70;
        vertical-align: central;
    }
}

.nav-scrollable {
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 6rem);
    overflow-y: auto;
    background-color: #001A70;
    justify-self: end;
}

.nav-line {
    width: 75%;
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    border-style: inset;
}

.nav-line-bottom {
    margin-top: -0.75rem;
}